# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================
venv/
.env
.env.*

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Streamlit
# ==========================
.streamlit/secrets.toml

# ==========================
# MLflow
# ==========================
mlruns/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Dataset
# ==========================
data/raw/
data/processed/

# ==========================
# Large Models
# ==========================
models/random_forest.pkl
models/random_forest_regressor.pkl

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db
mlflow.db