# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================================================
# Virtual Environment
# ==========================================================

venv/
.env
.env.*

# ==========================================================
# Jupyter
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# VS Code
# ==========================================================

.vscode/

# ==========================================================
# Streamlit
# ==========================================================

.streamlit/secrets.toml

# ==========================================================
# MLflow
# ==========================================================

mlruns/
mlflow.db

# ==========================================================
# Logs
# ==========================================================

*.log

# ==========================================================
# Dataset
# ==========================================================

# Ignore raw datasets
data/raw/*.csv

# Ignore processed CSV datasets
data/processed/*.csv

# Keep Parquet dataset
!data/processed/feature_engineered_dataset.parquet

# ==========================================================
# Large Models
# ==========================================================

models/random_forest.pkl
models/random_forest_regressor.pkl

# ==========================================================
# OS Files
# ==========================================================

.DS_Store
Thumbs.db